---
import SanityImage from "@/components/astro/SanityImage.astro";
import CaseLayout from "@/layouts/CaseLayout.astro";
import type { PageModuleProps } from "@/scripts/queries";

type Props = PageModuleProps<"articleFigureModule">;

const { image } = Astro.props;
if (!image) return null;
---

<CaseLayout>
	<div class="overflow-hidden">
		<SanityImage
			{...image}
			alt=""
			width={1200}
			class="h-full w-full rounded-lg object-cover"
			sizes="(min-width: 1280px) 1200px, 100vw"
		/>
	</div>
</CaseLayout>
