---
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import type { ModuleProps } from "@/scripts/types";

type Props = ModuleProps<"articleStatsModule">;

const { title, stats } = Astro.props;

if (!stats?.length) return null;
---

<SectionLayout>
	<ArticleLayout>
		<div
			class="p-[1.25rem] md:pl-[1.75rem] bg-sky-blue opacity-25 rounded-[0.5rem] col-span-4 md:col-span-6 md:col-start-4"
		>
			<h4
				class="text-[1.5rem] md:text-[1.75rem] leading-[115%] pb-[4rem] md:pb-[3rem]"
			>
				<span class="font-bold">:</span>{title}
			</h4>
			<p class="paragraph-secondary flex">
				<div class="h-3 w-3 rounded-full bg-black">
					Founded in Denmark in 1949 as “Elektroniklaboratoriet”
				</div>
			</p>
			<p class="paragraph-secondary flex">
				<div class="h-3 w-3 rounded-full bg-black">
					Global leader in measurement equipment and analysis software
				</div>
			</p>
		</div>
	</ArticleLayout>
</SectionLayout>
