---
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import type { ModuleProps } from "@/scripts/types";
import { PortableText } from "astro-portabletext";

type Props = ModuleProps<"articleTextModule">;

const { content } = Astro.props;

if (!content?.length) return null;
---

<SectionLayout>
	<ArticleLayout>
		<div class="">
			<PortableText value={content} />
		</div>
	</ArticleLayout>
</SectionLayout>
