---
import type { ArticleQuoteModule } from "../../scripts/types";
import MainLayout from "../astro/MainLayout.astro";
type Props = ArticleQuoteModule;

const { quote, author, role } = Astro.props;

if (!quote) return null;
---

<section>
	<MainLayout>
		<blockquote class="quote col-span-4 md:col-span-6 md:col-start-4 pb-[2rem]">
			{quote}
		</blockquote>
		{author && (
			<div class="md:col-start-4 aspect-square overflow-hidden">
				<img
					class="rounded-[0.5rem] object-cover w-full h-full"
					src="/temp-images/ceo.png"
					alt={author}
				/>
			</div>

			<div class="paragraph-secondary col-span-3">
				<span class="font-bold">{author}</span>
				{role && <p>{role}</p>}
			</div>
		)}
	</MainLayout>
</section>
