---
import type { ModuleProps } from "@/scripts/types";
import { Carousel } from "../solid/carousel";
import SanityImage from "../astro/SanityImage.astro";

type Props = ModuleProps<"articleGalleryModule">;

const { images } = Astro.props;
---

<Carousel client:load {...Astro.props}>
	{
		images?.map((image) => (
			<div class="embla__slide">
				<SanityImage image={image} alt="" />
			</div>
		))
	}
</Carousel>
