---
import SanityImage from "@/components/astro/SanityImage.astro";
import CaseLayout from "@/layouts/CaseLayout.astro";
import type { ModuleProps } from "@/scripts/types";

type Props = ModuleProps<"articleFigureModule">;

const { image } = Astro.props;
if (!image) return null;
---

<CaseLayout>
	<div class="overflow-hidden">
		<SanityImage
			image={image?.asset ?? undefined}
			alt=""
			width={1200}
			class="rounded-lg object-cover w-full h-full"
			sizes="(min-width: 1280px) 1200px, 100vw"
		/>
	</div>
</CaseLayout>
