---
import SanityImage from "@/components/astro/SanityImage.astro";
import { Carousel } from "@/components/solid/carousel";
import type { CaseModuleProps } from "@/scripts/queries";

type Props = CaseModuleProps<"articleGalleryModule">;

const { images } = Astro.props;
---

<div class="mb-[4rem] md:mb-[6rem]">
	<Carousel client:load {...Astro.props}>
		{
			images?.map((image) => (
				<div class="embla__slide min-w-0 shrink-0 grow-0 basis-full">
					<SanityImage alt="" {...image} />
				</div>
			))
		}
	</Carousel>
</div>
