---
import SanityImage from "@/components/astro/SanityImage.astro";
import CaseLayout from "@/layouts/CaseLayout.astro";
import type { PageModuleProps } from "@/scripts/queries";

type Props = PageModuleProps<"articleQuoteModule">;

const { quote, author, jobTitle, image } = Astro.props;
---

<CaseLayout>
	<blockquote class="quote pb-[2rem]">
		{quote}
	</blockquote>
	{
		author && (
			<div class="grid grid-cols-4 gap-4">
				{image && (
					<div class="col-span-1">
						(
						<SanityImage
							{...image}
							alt={author ?? ""}
							width={1200}
							class="h-full w-full rounded-lg object-cover"
							sizes="(min-width: 1280px) 1200px, 100vw"
						/>
						)
					</div>
				)}
				<div class="paragraph-secondary col-span-3">
					<span class="font-bold">{author}</span>
					{jobTitle && <p>{jobTitle}</p>}
				</div>
			</div>
		)
	}
</CaseLayout>
