---
import SanityImage from "@/components/astro/SanityImage.astro";
import CaseLayout from "@/layouts/CaseLayout.astro";
import type { CaseModuleProps } from "@/scripts/queries";

type Props = CaseModuleProps<"articleQuoteModule">;

const { quote, author, jobTitle, image } = Astro.props;
---

<CaseLayout>
	<blockquote class="quote pb-[2rem]">
		“{quote}”
	</blockquote>
	{
		author && (
			<div class="grid grid-cols-4 gap-4">
				<div class="col-span-1">
					{image && (
						<SanityImage
							{...image}
							alt={author ?? ""}
							width={1200}
							class="rounded-lg object-cover w-full h-full"
							sizes="(min-width: 1280px) 1200px, 100vw"
						/>
					)}
				</div>
				<div class="paragraph-secondary col-span-3">
					<span class="font-bold">{author}</span>
					{jobTitle && <p>{jobTitle}</p>}
				</div>
			</div>
		)
	}
</CaseLayout>
