---
import SanityImage from "@/components/astro/SanityImage.astro";
import { Carousel } from "@/components/solid/carousel";
import type { ModuleProps } from "@/scripts/types";

type Props = ModuleProps<"articleGalleryModule">;

const { images } = Astro.props;
---

<div class="mb-[4rem] md:mb-[6rem]">
	<Carousel client:load {...Astro.props}>
		{
			images?.map((image) => (
				<div class="embla__slide grow-0 shrink-0 basis-full min-w-0">
					<SanityImage image={image?.asset ?? undefined} alt="" />
				</div>
			))
		}
	</Carousel>
</div>
