---
import CaseLayout from "@/layouts/CaseLayout.astro";
import type { PageModuleProps } from "@/scripts/queries";
import { PortableText } from "astro-portabletext";

type Props = PageModuleProps<"articleTextModule">;

const { content } = Astro.props;

if (!content?.length) return null;
---

<CaseLayout>
	<div class="article-text">
		<PortableText value={content} />
	</div>
</CaseLayout>
