---
import { LottieGrid } from "@/components/solid/lottie-grid";
import LandingLayout from "@/layouts/LandingLayout.astro";
import { tryCatch } from "@/scripts/helpers";
import type { PageModuleProps } from "@/scripts/queries";

type Props = PageModuleProps<"atAGlanceModule">;

const { title, animations: animationsProp } = Astro.props;

const animations = await Promise.all(
	animationsProp?.map(async (animation) => {
		const [aspectRatio] = await tryCatch(async () => {
			const response = await fetch(animation?.src ?? "");
			const { w, h } = await response.json();
			return `${w}/${h}`;
		});

		return {
			src: animation.src ?? "",
			aspectRatio: aspectRatio ?? "1/1",
		};
	}) ?? [],
);
---

<LandingLayout>
	<h2 class="headline-extralight col-span-full mb-4">
		{title}
	</h2>
	<section class="add-a-glance-section col-span-full">
		<LottieGrid {animations} client:load />
	</section>
</LandingLayout>
