---
import { LottieGrid } from "@/components/solid/lottie-grid";
import LandingLayout from "@/layouts/LandingLayout.astro";
import { tryCatch } from "@/scripts/helpers";
import type { PageModuleProps } from "@/scripts/queries";

type Props = PageModuleProps<"atAGlanceModule">;

const { title, animations: animationsProp } = Astro.props;

const animations = await Promise.all(
	animationsProp?.map(async (animation) => {
		const [aspectRatio] = await tryCatch(async () => {
			const response = await fetch(animation?.src ?? "");
			const { w, h } = await response.json();
			return `${w}/${h}`;
		});

		return {
			src: animation.src ?? "",
			aspectRatio: aspectRatio ?? "1/1",
		};
	}) ?? [],
);
---

<LandingLayout>
	<h2 class="headline-extralight col-span-full mb-4">
		{title}
	</h2>
	<section class="add-a-glance-section col-span-full">
		<LottieGrid {animations} client:load />
	</section>
</LandingLayout>

<style is:global>
	.at-a-glance-grid > * {
		border: 0.0625rem solid transparent;
		background:
			linear-gradient(
				to bottom,
				oklch(from #ffffff l c h / 0.1) 0%,
				oklch(from #ffffff l c h / 0.1) 100%
			),
			linear-gradient(
				to bottom,
				oklch(from #b2b7cd calc(l - 16%) calc(c + 0.04) h / 0.5) 0%,
				oklch(from #b2b7cd calc(l - 24%) calc(c + 0.04) h / 0.5) 100%
			);
		background-clip: padding-box, border-box;
		background-origin: padding-box, border-box;
		background-blend-mode: normal, normal;
	}
</style>
