---
import CaseCard from "@/components/astro/CaseCard.astro";
import LandingLayout from "@/layouts/LandingLayout.astro";
import type { CaseModuleProps } from "@/scripts/queries";

type Props = CaseModuleProps<"caseHighlightsModule">;

const { title, cases } = Astro.props;

if (!cases?.length) return null;
---

<LandingLayout>
	<h3 class="headline-extralight mb-[0.5rem] md:mb-[1.5rem] col-span-full">
		{title}
	</h3>

	{
		cases.map((c) => (
			<div class={cases.length <= 2 ? "col-span-6" : "col-span-4"}>
				<CaseCard {...c} />
			</div>
		))
	}
</LandingLayout>
