---
import CaseCard from "@/components/astro/CaseCard.astro";
import LandingLayout from "@/layouts/LandingLayout.astro";
import type { PageModuleProps } from "@/scripts/queries";

type Props = PageModuleProps<"caseHighlightsModule">;

const { title, cases } = Astro.props;
---

<LandingLayout>
	<h3
		class="headline-extralight col-span-full mb-[0.5rem] scroll-p-24 md:mb-[1.5rem]"
		id="case-highlights"
	>
		{title}
	</h3>
	{
		cases?.map((card) => (
			<CaseCard {...card} class="z-10 col-span-6 mb-8 md:col-span-3" />
		))
	}
</LandingLayout>
