---
import CaseCard from "@/components/astro/CaseCard.astro";
import LandingLayout from "@/layouts/LandingLayout.astro";
import type { PageModuleProps } from "@/scripts/queries";

type Props = PageModuleProps<"caseHighlightsModule">;

const { title, cases } = Astro.props;
---

<LandingLayout>
	<h3 class="headline-extralight col-span-full mb-[0.5rem] md:mb-[1.5rem]">
		{title}
	</h3>
	{
		cases?.map((card) => (
			<CaseCard
				{...card}
				class:list={[cases.length <= 2 ? "col-span-6" : "col-span-4", "z-10"]}
			/>
		))
	}
</LandingLayout>
