---
import Icon from "@/components/astro/Icon.astro";
import SanityImage from "@/components/astro/SanityImage.astro";
import LandingLayout from "@/layouts/LandingLayout.astro";
import type { ModuleProps } from "@/scripts/types";

type Props = ModuleProps<"highlightsModule">;

const { title, highlights } = Astro.props;

if (!highlights?.length) return null;

const validHighlights = highlights.filter(
	(highlight): highlight is NonNullable<typeof highlight> =>
		highlight?.title != null && highlight?.image != null,
);
---

<LandingLayout>
	<h3 class="headline-extralight mb-[0.5rem] md:mb-[1.5rem] col-span-full">
		{title}
	</h3>
	{
		validHighlights.map((highlight) => (
			<figure class="col-span-4 md:col-span-6 pb-[1rem]">
				<div class="pb-[1.25rem] rounded-lg">
					<SanityImage
						image={highlight.image?.asset ?? undefined}
						alt={highlight.title ?? ""}
						width={1200}
						class="rounded-lg w-full h-auto"
						sizes="(min-width: 1280px) 1200px, 100vw"
					/>
				</div>
				<figcaption class="headline-card flex gap-[0.5rem] items-start hover:text-novo-blue hover:underline">
					<span class="flex w-[2.125rem] h-[2.125rem]">
						<Icon icon="arrow_outward" />
					</span>
					{highlight.title}
				</figcaption>
			</figure>
		))
	}
</LandingLayout>
