---
import Icon from "@/components/astro/Icon.astro";
import SanityImage from "@/components/astro/SanityImage.astro";
import LandingLayout from "@/layouts/LandingLayout.astro";
import type { PageModuleProps } from "@/scripts/queries";

type Props = PageModuleProps<"highlightsModule">;

const { title, highlights } = Astro.props;

if (!highlights?.length) return null;

const validHighlights = highlights.filter(
	(highlight): highlight is NonNullable<typeof highlight> =>
		highlight?.title != null && highlight?.image != null,
);
---

<LandingLayout>
	<h3 class="headline-extralight col-span-full mb-[0.5rem] md:mb-[1.5rem]">
		{title}
	</h3>
	{
		validHighlights.map((highlight) => (
			<figure class="col-span-4 pb-[1rem] md:col-span-6">
				<div class="rounded-lg pb-[1.25rem]">
					{highlight.image && (
						<SanityImage
							{...highlight.image}
							alt={highlight.title ?? ""}
							width={1200}
							class="h-auto w-full rounded-lg"
							sizes="(min-width: 1280px) 1200px, 100vw"
						/>
					)}
				</div>
				<figcaption class="headline-card hover:text-novo-blue flex items-start gap-[0.5rem] hover:underline">
					<span class="flex h-[2.125rem] w-[2.125rem]">
						<Icon icon="arrow_outward" />
					</span>
					{highlight.title}
				</figcaption>
			</figure>
		))
	}
</LandingLayout>
