---
import Video from "@/components/astro/Video.astro";
import LandingLayout from "@/layouts/LandingLayout.astro";
import type { PageModuleProps } from "@/scripts/queries";

type Props = PageModuleProps<"newsModule">;

const { caption, title, description, video } = Astro.props;
---

<LandingLayout>
	<div class="col-span-4 md:col-span-6">
		<h2 class="headline-extralight pb-6 md:pb-8">
			{caption}<br />
			<span class="headline-semibold">{title}</span>
		</h2>
		<p class="paragraph-main pb-12">{description}</p>
	</div>
	<div class="relative col-span-4 md:col-span-6">
		<Video {...video} />
	</div>
</LandingLayout>
