---
import SideBySideType from "@/components/astro/SideBySideType.astro";
import LandingLayout from "@/layouts/LandingLayout.astro";
import type { PageModuleProps } from "@/scripts/queries";
import { PortableText } from "astro-portabletext";

type Props = PageModuleProps<"sideBySideModule">;

const { left, right } = Astro.props;
---

<LandingLayout>
	{
		[left, right].map((block) => (
			<div class="side-by-side-module col-span-4 md:col-span-6">
				{block && (
					<PortableText
						value={block}
						components={{
							type: SideBySideType,
						}}
					/>
				)}
			</div>
		))
	}
</LandingLayout>
