<div class="group grid">
	{
		[0, 1, 2].map((index) => (
			<div
				class:list={[
					"col-[1] row-[1]",
					{
						"-z-1 opacity-0 transition-all duration-400 ease-out group-hover:opacity-40":
							index !== 2,
						"blur-md": index === 0,
						"blur-xl": index === 1,
					},
				]}
			>
				<slot />
			</div>
		))
	}
</div>
