---
import Icon from "@/components/astro/Icon.astro";
import type { PageModuleProps } from "@/scripts/queries";
import Link from "./Link.astro";

type Props = Partial<
	Extract<
		NonNullable<PageModuleProps<"sideBySideModule">["left"]>[number],
		{ _type: "button" }
	>
>;

const { link, icon } = Astro.props;
---

<Link class="text-[1.125rem] leading-[140%] font-medium" link={link}>
	<button type="button" class="flex items-center gap-[0.25rem]">
		{icon && <Icon icon={icon} class="flex h-[1.25rem] w-[1.25rem]" />}
		<span
			class="decoration-novo-blue-30 underline decoration-1 underline-offset-[25%]"
		>
			{link?.text}
		</span>
	</button>
</Link>
