---
const { collaborator, date, title } = Astro.props;
---

<figure>
	<div class="pb-[1.25rem] rounded-[0.5rem]"><img src="" alt="" /></div>
	<div
		class="flex gap-[1rem] items-center pb-[0.5rem] text-novo-blue text-[1rem] leading-[120%]"
	>
		<p>{collaborator}</p>
		<p>{date}</p>
	</div>
	<figcaption class="headline-card">
		<p>{title}</p>
	</figcaption>
</figure>
