---
const { collaborator, title } = Astro.props;
---

<figure
	class="bg-sky-blue rounded-lg px-[1.25rem] py-[1.25rem] opacity-25 md:px-[1.75rem]"
>
	<figcaption class="headline-card">
		<span class="font-bold">{collaborator}</span>{title}
	</figcaption>
</figure>
