---
import Link from "@/components/astro/Link.astro";
import SanityImage from "@/components/astro/SanityImage.astro";
import { formatYear } from "@/scripts/helpers";
import type { CaseModuleProps } from "@/scripts/queries";

type Props = NonNullable<
	CaseModuleProps<"caseHighlightsModule">["cases"]
>[number];

const { title, slug, project, startDate, endDate, heroImage } = Astro.props;

if (!heroImage) return null;
---

<Link link={{ slug }} class="col-span-4 pb-[1rem]">
	<figure class="col-span-4 pb-[1rem]">
		<div class="rounded-lg pb-[1.25rem]">
			<SanityImage
				{...heroImage}
				alt={title ?? ""}
				width={800}
				class="h-auto w-full rounded-lg"
				sizes="(min-width: 1280px) 800px, 100vw"
			/>
		</div>
		<div
			class="text-novo-blue flex items-center gap-4 pb-[0.5rem] text-[1rem] leading-[120%]"
		>
			<p>{project}</p>
			<p>
				{formatYear(startDate ?? undefined)}-{formatYear(endDate ?? undefined)}
			</p>
		</div>
		<figcaption class="headline-card">
			{title}
		</figcaption>
	</figure>
</Link>
