---
import Link from "@/components/astro/Link.astro";
import SanityImage from "@/components/astro/SanityImage.astro";
import { formatYear } from "@/scripts/helpers";
import type { PageModuleProps } from "@/scripts/queries";

type Props = NonNullable<
	PageModuleProps<"caseHighlightsModule">["cases"]
>[number];

const { title, slug } = Astro.props;
const { heroImage, project, startDate, endDate } = Astro.props?.case ?? {};
---

<Link link={{ slug }} class="col-span-4 pb-[1rem]">
	<figure class="col-span-4 pb-[1rem]">
		<div class="mb-[1.25rem] rounded-lg">
			{
				heroImage && (
					<SanityImage
						{...heroImage}
						alt={title ?? ""}
						width={800}
						class="aspect-[5/4] h-auto w-full rounded-lg object-cover"
					/>
				)
			}
		</div>
		<div
			class="text-novo-blue flex items-center gap-4 pb-[0.5rem] text-[1rem] leading-[120%]"
		>
			<p>{project}</p>
			<p>
				{formatYear(startDate ?? undefined)}-{formatYear(endDate ?? undefined)}
			</p>
		</div>
		<figcaption class="headline-card">
			{title}
		</figcaption>
	</figure>
</Link>
