---
import SanityImage from "@/components/astro/SanityImage.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { formatYear } from "@/scripts/helpers";
import type { Page } from "@/scripts/queries";

type Props = Page;

const { title } = Astro.props ?? {};
const { heroImage, project, startDate, endDate, subTitle } =
	Astro.props?.case ?? {};
---

<MainLayout>
	<section class="col-span-full">
		<p
			class="paragraph-secondary text-novo-blue flex items-center gap-4 pb-2 md:gap-[1.5rem] md:pb-3"
		>
			<span>{project}</span>
			<span>
				{formatYear(startDate ?? undefined)}-{formatYear(endDate ?? undefined)}
			</span>
		</p>
		<h1 class="headline-article mb-8 md:mb-12">{title}</h1>
		<figure class="mb-[2rem] overflow-hidden md:mb-[3rem]">
			{
				heroImage && (
					<SanityImage {...heroImage} class="rounded-lg" alt={title ?? ""} />
				)
			}
			{
				heroImage?.caption && (
					<figcaption class="paragraph-secondary text-novo-blue mt-4">
						{heroImage.caption}
					</figcaption>
				)
			}
		</figure>
	</section>
</MainLayout>
