---
import SanityImage from "@/components/astro/SanityImage.astro";
import type { ModuleProps } from "@/scripts/types";
import { formatYear } from "@/utils/formatDate";

type Props = NonNullable<ModuleProps<"caseHighlightsModule">["cases"]>[number];

const { title, slug, project, startDate, endDate, heroImage } = Astro.props;

if (!heroImage?.asset) return null;
---

<a href={slug?.current ?? ""}>
	<figure class="col-span-4 pb-[1rem]">
		<div class="pb-[1.25rem] rounded-[0.5rem]">
			<SanityImage
				image={heroImage}
				alt={title ?? ""}
				width={800}
				class="rounded-[0.5rem] w-full h-auto"
				sizes="(min-width: 1280px) 800px, 100vw"
			/>
		</div>
		<div
			class="flex gap-[1rem] items-center pb-[0.5rem] text-novo-blue text-[1rem] leading-[120%]"
		>
			<p>{project}</p>
			<p>
				{formatYear(startDate ?? undefined)} - {
					formatYear(endDate ?? undefined)
				}
			</p>
		</div>
		<figcaption class="headline-card">
			{title}
		</figcaption>
	</figure>
</a>
