---
import Icon from "@/components/astro/Icon.astro";
import Link from "@/components/astro/Link.astro";
import PrimaryButton from "@/components/astro/PrimaryButton.astro";
import type { GlobalSettings } from "@/scripts/queries";

type Props = GlobalSettings;

const { footer } = Astro.props;
---

<footer class="bg-novo-blue w-full text-white">
	<div
		class="mx-auto grid w-full max-w-[100rem] gap-[12.5rem] px-[1.5rem] py-[1.5rem] md:px-[3rem] md:pb-[2.5rem]"
	>
		<div class="flex items-start justify-between">
			<div class="text-[2rem] leading-[90%] text-white md:text-[4rem]">
				<Icon icon="logo" class="aspect-[257/122] h-28" />
			</div>
			<Link link={footer?.backlink} class="text-white">
				<PrimaryButton
					buttonText={footer?.backlink?.text ?? "Back to Main Site"}
					icon="arrow_outward"
				/>
			</Link>
		</div>
		<nav>
			<ul
				class="grid max-w-[100rem] gap-4 text-[0.875rem] leading-[120%] font-medium md:flex md:gap-[2rem]"
			>
				{
					footer?.links?.map((link) => (
						<li>
							<Link link={link} class="text-white">
								{link.text}
							</Link>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</footer>
