---
import Button from "@/components/astro/Button.astro";
import Icon from "@/components/astro/Icon.astro";
import Link from "@/components/astro/Link.astro";
import { MagneticHover } from "@/components/solid/magnetic-hover";
import { generateGradient } from "@/scripts/linear-gradient";
import type { GlobalSettings } from "@/scripts/queries";

type Props = GlobalSettings;

const { header } = Astro.props;

const blurs = [
	"backdrop-blur-[0.0625rem]",
	"backdrop-blur-[0.125rem]",
	"backdrop-blur-[0.25rem]",
	"backdrop-blur-[0.5rem]",
	"backdrop-blur-[1rem]",
] as const;

const linearGradient = generateGradient({
	start: "rgba(255, 255, 255, 0.7)",
	end: "rgba(255, 255, 255, 0)",
	steps: 20,
	direction: "to bottom",
	ease: [0.2, 0, 0.2, 1],
});

const maskGradient = generateGradient({
	start: "rgba(0, 0, 0, 1)",
	end: "rgba(0, 0, 0, 0)",
	steps: 20,
	direction: "to bottom",
	ease: [0.2, 0, 0.2, 1],
});
---

<header class="sticky top-0 z-100 mb-[6rem] w-full py-[1rem]">
	<nav
		class="site-grid text-novo-blue mx-auto max-w-[100rem] px-[1.5rem] md:px-[3rem]"
	>
		<Link href="/" class="col-span-2">
			<Icon icon="logo" class="aspect-[257/122] h-8.5" />
		</Link>
		<div class="col-span-4 hidden text-lg leading-[0.9] md:block">
			<p>{header?.subtitle}</p>
			<p>{header?.subtitleLine2}</p>
		</div>
		<div class="col-span-2 flex justify-end whitespace-nowrap md:col-span-6">
			<MagneticHover
				client:load
				pressable
				hoverActiveScale={1.05}
				moveStrength={{ x: 10, y: 5 }}
			>
				<Button link={header?.callToAction} icon="download" />
			</MagneticHover>
		</div>
	</nav>
	<div
		class="blurs-parent pointer-events-none absolute inset-0 -z-2 h-[100%]"
		style={{
			background: linearGradient,
			"--maskGradient": maskGradient,
		}}
	>
		{
			blurs.map((blur) => (
				<div
					class:list={[
						"header-backdrop absolute inset-0 -z-1 h-[250%] [mask-image:var(--maskGradient)]",
						blur,
					]}
				/>
			))
		}
	</div>
</header>
