---
import PrimaryButton from "@/components/astro/PrimaryButton.astro";
import type { GLOBAL_SETTINGS_QUERYResult } from "@novo-holdings-annual-report-2024/studio/types";

interface Props {
	settings: GLOBAL_SETTINGS_QUERYResult;
}
---

<header class="w-full py-[1rem] mb-[6rem] sticky top-0 bg-white z-50">
	<nav
		class="max-w-[100rem] flex justify-between items-start mx-auto px-[1.5rem] md:px-[3rem]"
	>
		<p class="text-[1.125rem] leading-[90%] text-novo-blue">
			novo<br /><span class="font-bold">holdings</span>
		</p>
		<PrimaryButton
			buttonText="Download Report"
			link="/"
			textColor="novo-blue"
		/>
	</nav>
</header>
