---
import SanityImage from "@/components/astro/SanityImage.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { formatYear } from "@/scripts/helpers";

const { title, heroImage, project, startDate, endDate } = Astro.props;
---

<MainLayout>
	<section class="col-span-full">
		<p
			class="flex gap-[1rem] md:gap-[1.5rem] items-center pb-[0.5rem] md:pb-[0.75rem] paragraph-secondary text-novo-blue"
		>
			<span>{project}</span>
			<span
				>{formatYear(startDate ?? undefined)}-{
					formatYear(endDate ?? undefined)
				}</span
			>
		</p>
		<h1 class="headline-article pb-[2rem] md:pb-[3rem]">{title}</h1>
		<div class="overflow-hidden pb-[2rem] md:pb-[3rem]">
			<SanityImage class="rounded-[0.5rem]" image={heroImage} alt={title} />
		</div>
	</section>
</MainLayout>
