---
import SanityImage from "@/components/astro/SanityImage.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { formatYear } from "@/scripts/helpers";
import type { Case } from "@/scripts/queries";

type Props = Case;

const { title, heroImage, project, startDate, endDate } = Astro.props;
---

<MainLayout>
	<section class="col-span-full">
		<p
			class="paragraph-secondary text-novo-blue flex items-center gap-4 pb-[0.5rem] md:gap-[1.5rem] md:pb-[0.75rem]"
		>
			<span>{project}</span>
			<span>
				{formatYear(startDate ?? undefined)}-{formatYear(endDate ?? undefined)}
			</span>
		</p>
		<h1 class="headline-article pb-[2rem] md:pb-[3rem]">{title}</h1>
		<div class="overflow-hidden pb-[2rem] md:pb-[3rem]">
			{
				heroImage && (
					<SanityImage {...heroImage} class="rounded-lg" alt={title ?? ""} />
				)
			}
		</div>
	</section>
</MainLayout>
