---
import type { SanityImage as SanityImageType } from "../../scripts/types";
import SanityImage from "../SanityImage.astro";

interface Props {
	title: string;
	image: SanityImageType;
}

const { title, image } = Astro.props;

if (!image?.asset) return null;
---

<figure class="col-span-4 md:col-span-6 pb-[1rem]">
	<div class="pb-[1.25rem] rounded-[0.5rem]">
		<SanityImage
			image={image}
			alt={title}
			width={1200}
			class="rounded-[0.5rem] w-full h-auto"
			sizes="(min-width: 1280px) 1200px, 100vw"
		/>
	</div>
	<figcaption
		class="headline-card flex gap-[0.5rem] items-start hover:text-novo-blue hover:underline"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="32"
			height="32"
			viewBox="0 0 24 24"
			><path fill="currentColor" d="M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4z"
			></path></svg
		>
		{title}
	</figcaption>
</figure>
