---
const { buttonText, link, textColor } = Astro.props;
---

<button
	type="button"
	class={`text-[${textColor}] font-medium text-[1.125rem] leading-[140%]`}
>
	<a class="flex items-center gap-[0.25rem]" href={link}>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="32"
			height="32"
			viewBox="0 0 24 24"
			><path fill="currentColor" d="M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4z"
			></path></svg
		>
		{buttonText}
	</a>
</button>
