---
import Icon from "@/components/astro/Icon.astro";
import type { Icon as IconType } from "@novo-holdings-annual-report-2024/lib";

interface Props {
	buttonText: string;
	link: string;
	icon?: IconType;
}

const { buttonText, link, icon } = Astro.props;
---

<button type="button" class="font-medium text-[1.125rem] leading-[140%]">
	<a class="flex items-center gap-[0.25rem]" href={link}>
		{
			icon && (
				<span class="flex w-[1.25rem] h-[1.25rem]">
					<Icon icon={icon} />
				</span>
			)
		}
		{buttonText}
	</a>
</button>
