---
const { buttonText, link } = Astro.props;
---

<button
	type="button"
	class="bg-novo-blue rounded-lg py-[0.875rem] pr-[1.5rem] pl-[1rem] text-[1.125rem] leading-[140%] font-medium tracking-[1%] text-white"
>
	<a class="flex items-center gap-[0.5rem]" href={link}>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="20"
			height="20"
			viewBox="0 0 24 24"
			><path fill="currentColor" d="M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4z"
			></path></svg
		>
		{buttonText}
	</a>
</button>
