#builder-tools,
#embed-tools {
	position: absolute;
	inset: 0 0 auto auto;
	width: 16rem;
	z-index: 1000;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 0.25rem;
	padding: 0.25rem;
	font-size: 0.75rem;
	line-height: 1rem;
	border-radius: 1rem;

	#builder-routes,
	#builder-country-labels,
	#builder-locations {
		display: contents;
	}

	form {
		padding: 0.25rem;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		background-color: var(--white);
		background-color: color-mix(in srgb, var(--deep-blue) 20%, var(--white));
		border-radius: 0.75rem;

		h2 {
			padding: 0.25rem 0.5rem;
		}
	}

	select {
		padding: 0.5rem;
		border-radius: 0.5rem;
	}

	input[type="text"] {
		padding: 0.5rem;
		border-radius: 0.5rem;
		background-color: var(--white);
	}

	label {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		cursor: pointer;
		padding: 0.5rem;
		border-radius: 0.5rem;

		&:has(:focus-visible) {
			outline: 2px solid var(--sea-blue);
		}

		&:has(select) {
			padding: 0;
			gap: 0;
			position: relative;

			svg {
				position: absolute;
				right: 0.5rem;
				pointer-events: none;
			}
		}

		select {
			flex: 1;
			width: 100%;
			background-color: var(--white);
		}

		&:has(input:is([type="checkbox"], [type="radio"]):checked) {
			background-color: var(--white);
			opacity: 1;
		}

		svg {
			width: 1rem;
			height: 1rem;
			fill: currentColor;
		}

		p {
			padding: 0 0.25rem;
		}

		input:is([type="checkbox"], [type="radio"]) {
			position: absolute;
			opacity: 0;
		}
	}
	.divider {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			height: 0.5px;
			background-color: var(--deep-blue);
		}
	}

	publish-button,
	copy-button {
		display: contents;
	}

	button {
		position: relative;
		cursor: pointer;
		padding: 0.5rem;
		border-radius: 0.5rem;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		overflow: hidden;
		background-color: var(--deep-blue);
		color: var(--white);

		@media (hover: hover) {
			&:hover {
				background-color: var(--deep-blue);
				background-color: color-mix(
					in srgb,
					var(--deep-blue) 90%,
					var(--white)
				);
			}
		}

		&:active {
			background-color: var(--deep-blue);
			background-color: color-mix(in srgb, var(--deep-blue) 80%, var(--white));
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&.complete {
			background-color: var(--green);
		}

		&.error {
			background-color: var(--red);
		}

		&.pending {
			svg {
				animation: spin 1s cubic-bezier(0.6, 0.4, 0.4, 0.6) infinite;
			}
		}

		svg {
			width: 1rem;
			height: 1rem;
			fill: currentColor;
		}

		p {
			padding: 0 0.25rem;
		}
	}
}

@keyframes spin {
	0% {
		transform: scale(-1, 1) rotate(0);
	}

	100% {
		transform: scale(-1, 1) rotate(-1turn);
	}
}
