@font-face {
	font-family: "DFDS Sans";
	src:
		local("DFDS Sans Light"),
		url("/fonts/DFDSSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "DFDS Sans";
	src:
		local("DFDS Sans Regular"),
		url("/fonts/DFDSSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "DFDS Sans";
	src:
		local("DFDS Sans Italic"),
		url("/fonts/DFDSSans-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "DFDS Sans";
	src:
		local("DFDS Sans Medium"),
		url("/fonts/DFDSSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "DFDS Sans";
	src:
		local("DFDS Sans Bold"),
		url("/fonts/DFDSSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "DFDS Sans";
	src:
		local("DFDS Sans Extrabold"),
		url("/fonts/DFDSSans-Extrabold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
