---
import HeroCase from "@/components/astro/HeroCase.astro";
import ArticleFigureModule from "@/components/modules/ArticleFigureModule.astro";
import ArticleGalleryModule from "@/components/modules/ArticleGalleryModule.astro";
import ArticleQuoteModule from "@/components/modules/ArticleQuoteModule.astro";
import ArticleStatsModule from "@/components/modules/ArticleStatsModule.astro";
import ArticleTextModule from "@/components/modules/ArticleTextModule.astro";
import AtAGlanceModule from "@/components/modules/AtAGlanceModule.astro";
import CaseHighlightsModule from "@/components/modules/CaseHighlightsModule.astro";
import HighlightsModule from "@/components/modules/HighlightsModule.astro";
import NewsModule from "@/components/modules/NewsModule.astro";
import SideBySideModule from "@/components/modules/SideBySideModule.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { PAGES_QUERY } from "@novo-holdings-annual-report-2024/studio/queries";
import type { PAGES_QUERYResult } from "@novo-holdings-annual-report-2024/studio/types";
import type { GetStaticPathsResult } from "astro";
import { sanityClient } from "sanity:client";

export const getStaticPaths = async () => {
	const pages = await sanityClient.fetch<PAGES_QUERYResult>(PAGES_QUERY);

	const staticPaths = pages.map((page) => ({
		params: {
			slug: page.slug?.current ?? "404",
		},
		props: {
			page,
		},
	}));

	return staticPaths satisfies GetStaticPathsResult;
};

const { page } = Astro.props;
---

<PageLayout title={page.title ?? undefined}>
	<div class="flex flex-col max-w-[100rem] mx-auto">
		{page._type === "case" && <HeroCase {...page} />}
		{
			page.modules?.map((module) => {
				switch (module._type) {
					case "atAGlanceModule":
						return <AtAGlanceModule {...module} />;

					case "articleTextModule":
						return <ArticleTextModule {...module} />;
					case "articleQuoteModule":
						return <ArticleQuoteModule {...module} />;
					case "articleStatsModule":
						return <ArticleStatsModule {...module} />;

					case "articleGalleryModule":
						return <ArticleGalleryModule {...module} />;
					case "articleFigureModule":
						return <ArticleFigureModule {...module} />;
					case "sideBySideModule":
						return <SideBySideModule {...module} />;
					case "highlightsModule":
						return <HighlightsModule {...module} />;
					case "newsModule":
						return <NewsModule {...module} />;
					case "caseHighlightsModule":
						return <CaseHighlightsModule {...module} />;
					default:
						return null;
				}
			})
		}
	</div>
</PageLayout>
