---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<section
		class="col-span-full md:col-span-6 md:col-start-4 mb-[4rem] md:mb-[6rem]"
	>
		<slot />
	</section>
</MainLayout>
