---
import MainLayout from "@/layouts/MainLayout.astro";

interface Props {
	fullWidth?: boolean;
}

const { fullWidth } = Astro.props;
---

<MainLayout>
	<section
		class:list={[
			"col-span-full mb-16 md:mb-24",
			!fullWidth && "md:col-span-6 md:col-start-4",
		]}
	>
		<slot />
	</section>
</MainLayout>
